<dl>
	<dt><label for="{$input.name}">{$input.title}:</label></dt>
	<dd><input type="text" value="{$input.value|date_format:"d.m.Y"}" name="{$input.name}" id="{$input.name}"  style="width: 200px;">
	</dd>
</dl>

{if not $date_plugin_loaded}
	<link rel="stylesheet" type="text/css" href="//yandex.st/jquery-ui/1.8.23/themes/smoothness/jquery.ui.core.min.css">
	<link rel="stylesheet" type="text/css" href="//yandex.st/jquery-ui/1.8.23/themes/smoothness/jquery.ui.theme.min.css">
	<link rel="stylesheet" type="text/css" href="//yandex.st/jquery-ui/1.8.23/themes/smoothness/jquery.ui.datepicker.min.css">
	<script src="//yandex.st/jquery-ui/1.8.23/jquery.ui.core.min.js"></script>
	<script src="//yandex.st/jquery-ui/1.8.23/jquery.ui.datepicker.min.js"></script>
	<script src="//yandex.st/jquery-ui/1.8.23/i18n/jquery.ui.datepicker-ru.min.js"></script>
{/if}

<script>
$(document).ready(function() {
	$('#{$input.name}').datepicker({
		changeMonth: true,
		changeYear: true,
		dateFormat: 'dd.mm.yy'
	});
});
</script>