<div class="control-group">
	<label class="control-label" for="{$input.name}">{$input.title}</label>
	<div class="controls">
		{if (isset($input.chpu_button) and $input.chpu_button) or (isset($input.chpu_rus_button) and $input.chpu_rus_button)}
			<div class="input-append">
				<input type="text" value="{$input.value}" name="{$input.name}" id="{$input.name}">{if isset($input.chpu_button) and $input.chpu_button}<button class="btn" onclick="AjaxClickChpuButton('{$input.chpu_button}', '{$input.name}', 1); return false;">Подобрать URL</button>{/if}{if isset($input.chpu_rus_button) and $input.chpu_rus_button}<button class="btn" onclick="AjaxClickChpuButton('{$input.chpu_rus_button}', '{$input.name}', 2); return false;">Подобрать русский URL</button>{/if}
			</div>
		{else}
			<input type="text" value="{$input.value}" name="{$input.name}" id="{$input.name}">
		{/if}
		{if isset($input.prim)}
			<p class="help-block">{$input.prim}</p>
		{/if}
	</div>
</div>