{extends "base.html"}

{block name=content}
<h2>Добро пожаловать в систему управления сайтом</h2>
<h4>Заметки администратора</h4>
<form action="" class="well" method="post">
	<textarea name="notes" id="notes" style="width: 100%">{$NOTES}</textarea><br/>
	<input class="btn" type="submit" name="submit_notes" value="Сохранить">
</form>

<script src="wysiwyg/ckeditor.js"></script>
<script>
$(document).ready(function() {
	CKEDITOR.replace( 'notes', {
		skin : 'office2003',
		toolbar : 'MyToolbar', 
		
		/*extraPlugins : 'stylesheetparser',
		contentsCss : 'wysiwyg/styles/stylesheetparser.css',
		stylesSet : []*/
	});
});
</script>
{/block}