{extends "base.html"}

{block name=content}
<h2>Добро пожаловать в систему управления сайтом</h2>
<h4>Заметки администратора</h4>
<form action="" class="well" method="post">
	<textarea name="notes" id="notes" style="width: 100%">{$NOTES}</textarea>
	<input class="btn" type="submit" name="submit_notes" value="Сохранить">
</form>

<script src="f/fckeditor.js"></script>
<script>
$(document).ready(function() {
	var oFCKeditor = new FCKeditor('notes');
	oFCKeditor.BasePath = "f/";
	oFCKeditor.Config["ContentLangDirection"] = "ltr";
	oFCKeditor.Config["DefaultLanguage"] = "ru";
	oFCKeditor.Config["EditorAreaStyles"] = "body { padding: 8px; margin: 0; font: normal 12px Verdana; }";
	// oFCKeditor.Config['ToolbarLocation'] = 'Out:xToolbar';
	oFCKeditor.Height = 300;
	oFCKeditor.ReplaceTextarea();
});
</script>
{/block}