{extends "base.html"}

{block name=content}

{if (isset($SORTINGSCRIPT) && !empty($SORTINGSCRIPT))}{$SORTINGSCRIPT}{/if}

<h1 id="error_header">
{if (isset($ERROR))}
Ошибка - {$ERROR}
{/if}
</h1>
<h3>{$TITLETABLE}</h3>
{if ($ADDBUTTON)}
<a class="btn" href="{$U_ADD}"><i class="icon-plus"></i> {$ADDBUTTONTEXT}</a>
{/if}
<br />
	
{if (isset($FILTERSLIST) && $FILTERSLIST != '')}{$FILTERSLIST}{else}<br/>{/if}
	
{if (isset($TOOLTIP) && $TOOLTIP)}
<link rel="stylesheet" href="//korden.net/js/jquery/plugins/cluetip/1.0.6/jquery.cluetip.css">
<script src="//korden.net/js/jquery/plugins/cluetip/1.0.6/jquery.cluetip.js"></script>
<script>
$(document).ready(function() {
	$('a.jt').cluetip({
		cluetipClass: 'jtip', 
		activation: 'click',
		arrows: true, 
		dropShadow: false,
		hoverIntent: false,
		sticky: true,
		mouseOutClose: true,
		closePosition: 'title',
		closeText: '<img src="//korden.net/js/jquery/plugins/cluetip/1.0.6/cross.png" alt="close">'
	});
});
</script>
{/if}

{include "block/pagination.html"}
	
<table class="table table-condensed" {if (isset($SORTINGSCRIPT) && !empty($SORTINGSCRIPT))}id="{$HTMLTABLEID}"{/if}>
	
{$TABLE}

</table>

{include "block/pagination.html"}
{/block}