<!DOCTYPE html>
<html lang="ru">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Система управления сайтом :: Версия CMS: {$cms_version}</title>
<link rel="stylesheet" href="//korden.net/i/bootstrap/2.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//korden.net/i/bootstrap/2.1.0/css/responsive.min.css">
<link rel="stylesheet" href="//korden.net/i/bootstrap/2.1.0/css/expansion.css">
<link rel="stylesheet" href="//korden.net/js/jquery/plugins/chosen/0.9.8/chosen.css">
<script src="//yandex.st/jquery/1.7.2/jquery.min.js"></script>
<script src="//korden.net/i/bootstrap/2.1.0/js/bootstrap.min.js"></script>
<script src="//korden.net/js/jquery/plugins/chosen/0.9.8/chosen.jquery.min.js"></script>
<script src="//korden.net/js/jquery/plugins/tablednd/0.5/jquery.tablednd.js"></script>
{include "block/highslide.html"}
{block name=head}{/block}
</head>
<body>
<div id="wrappingbox">
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/">Система управления сайтом</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li><a href="/">&larr; Вернуться на сайт</a></li>
				</ul>
				<ul class="nav pull-right">
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{*$LOGIN*} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/acp/?logoutsubmit=1">Выход</a></li>
						</ul>
					</li>
					<li>
						{if sizeof($sites) > 1}
							<div style="margin-top: 7px;">
								<select class="chzn-select" id="sites_list" style="width: 225px;">
									{foreach $sites as $row}
										<option value="{$row.site_id}"{if $S_SITE_ID == $row.site_id} selected{/if}>{$row.site_url}</option>
									{/foreach}
								</select>
							</div>
						{/if}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="container acpbox">
	{if not empty($menu)}
		<ul class="nav nav-tabs">
			{foreach $menu as $row}
				<li class="{if isset($row.ACTIVE)}active{/if}"><a href="{$row.URL}">{if $row.IMAGE}<img src="//korden.net/i/icons/{$row.IMAGE}.png" alt=""> {/if}{$row.TITLE}</a></li>
			{/foreach}
		</ul>
	{/if}
	<div class="row">
		<div class="span3">
			{block name=menu}
				{include "block/menu.html"}
			{/block}
		</div>
		<div class="span9">
			{if isset($ERROR)}
			<h3>Ошибка - {$ERROR}</h3><br>
			{/if}
			{block name=content}{/block}
		</div>
	</div>
</div>

</div><!-- /wrappingbox -->

<div id="footerbox">
<footer>
	<div class="container">
		<p>Система управления сайтом <span class="muted">v{$cms_version}</span></p>
		<p><span class="muted">{$smarty.now|date_format:'Y'}</span> &copy; <a href="http://korden.ru/">Веб-студия «Корден»</a></p>
		<p>Служба поддержки: <a href="mailto:support@korden.ru">support@korden.ru</a></p>
	</div>
</footer>
</div>
</body>
<script>
function AjaxClickCheckbox(el, input_name, table, id)
{
	var value = 0;
	if ($(el).attr('checked')) value = 1;
	
	$.post('/ajax/checkbox.php', { value: value, table: table, id: id, input_name: input_name });
}

function AjaxClickChpuButton(id_source, id_dest, type)
{
	if( type == 1 ) {
	  $.post('/ajax/modifyurl.php', { value: $('#' + id_source).val() }, function(data) {
	    $('#' + id_dest).val(data);
	  });
	} else if( type == 2 ) {
	  $.post('/ajax/seo_url.php', { value: $('#' + id_source).val() }, function(data) {
	    $('#' + id_dest).val(data);
	  });
	} else if( type == 3 ) {
		google.language.translate($('#' + id_source).val(), 'ru', 'en', function(result) {
      if (result.translation) {
        $.post('/ajax/modifyurl.php', { value: result.translation }, function(data) {
          $('#' + id_dest).val(data);
        });
      }
		});
	}
}

function AjaxClickFormButton(id_source, autoins_arr)
{
	for(var key in autoins_arr) {
		$('#' + autoins_arr[key]).val($('#' + id_source).val());
	}
}

$(document).ready(function() {
	$('.chzn-select').chosen();
	
	$('#sites_list').change(function() {
		$.post('/ajax/set_site_id.php', { site_id: $(this).val() }, function() {
			document.location.href = document.location.href;
		});
	});
});
</script>
</body>
</html>