{extends "base.html"}

{block name=content}
<h1>Редактирование настроек сайта</h1>
<br>
	<form id="acp_pages" method="post" action="{$U_ACTION}">
	<fieldset>
	<legend>Содержание</legend>
		{foreach $config as $row}
		<dl>
			<dt><label for="{$row.config_name}">{$row.title}:</label></dt>
			<dd><input name="config[{$row.config_name}]" type="text" id="{$row.config_name}" style="width: 99%" value="{$row.config_value|escape}"></dd>
		</dl>
		{/foreach}
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="Отправить">
			&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="Сбросить">
		</p>
	</fieldset>
	</form>
{/block}