<!DOCTYPE html>
<html lang="ru">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Система управления сайтом :: Версия CMS: {$cms_version}</title>
<link rel="stylesheet" href="styles/style.css">
<script src="//yandex.st/jquery/1.7.2/jquery.min.js"></script>
<script src="//korden.net/js/jquery/plugins/tablednd/0.5/jquery.tablednd.js"></script>
{include "block/highslide.html"}
</head>
<body>
<div style="margin-left: 20px;">
<a href="">Главная панели</a> | <a href="/">Главная сайта</a>
</div>
<table id="body_table" cellspacing="0">
	<tr>
		<td></td>
		<td style="vertical-align:top;">
		<div id="content">
		<div id="tabs">
			<ul>
				{section name=mt loop=$main_tabs}
				<li {$main_tabs[mt].ACTCLASS}><a href="?tab={$main_tabs[mt].ID}"><span>{$main_tabs[mt].TITLE}</span></a></li>
				{/section}
			</ul>
		</div>
		<div id="acp">
		<div class="panel">
			<span class="corners-top"><span></span></span>
				<div id="content">
					<div id="menu">
						<p>Вы вошли c правами:<br/>
						<table>
						<tr>
						<td><strong>{$userLevel}&nbsp;&nbsp;</strong></td>
						<td><form action="">
						<input class="button1" type="submit" id="logoutsubmit" name="logoutsubmit" value="Выход" />
						<input type="hidden" name="logout_target" value=""/>
						</form></td>
						</tr>
						</table>
						</p>
						<ul>
							{section name=lm loop=$left_menu}
							{if (!empty($left_menu[lm].HREF))}
							<li {$left_menu[lm].ACTIVE}><a href="{$left_menu[lm].HREF}"><span>{$left_menu[lm].TITLE}</span></a></li>						{else}
							{if (isset($left_menu[lm].TITLE) && !empty($left_menu[lm].TITLE) && $left_menu[lm].PCOUNT > 0)}<li class="header">{$left_menu[lm].TITLE}</li>{/if}
							{/if}
							{/section}
						</ul>
					</div>
					<div id="main">
					<img src="images/dot.gif" width="840" height="1" />
					{if (isset($ERROR))}
					<h3>Ошибка - {$ERROR}</h3><br>
					{/if}