{include file="page_header.html"}

<h1>Редактирование пользователя <b>{$LOGIN}</b></h1>
<br>
	<script src="f/fckeditor.js"></script>
	<script>
	$(document).ready(function() {
		var oFCKeditor = new FCKeditor('short');
		oFCKeditor.BasePath = "f/";
		oFCKeditor.Config["ContentLangDirection"] = "ltr";
		oFCKeditor.Config["DefaultLanguage"] = "ru";
		oFCKeditor.Config["EditorAreaCSS"] = "";
		oFCKeditor.Config["EditorAreaStyles"] = "body { padding: 8px; margin: 0; font: normal 12px Verdana; }";
		oFCKeditor.Height = 150;
		oFCKeditor.Config['ToolbarLocation'] = 'Out:xToolbar_short';
		oFCKeditor.ReplaceTextarea();

		var oFCKeditor = new FCKeditor('desc');
		oFCKeditor.BasePath = "f/";
		oFCKeditor.Config["ContentLangDirection"] = "ltr";
		oFCKeditor.Config["DefaultLanguage"] = "ru";
		oFCKeditor.Config["EditorAreaCSS"] = "";
		oFCKeditor.Config["EditorAreaStyles"] = "body { padding: 8px; margin: 0; font: normal 12px Verdana; }";
		oFCKeditor.Height = 300;
		oFCKeditor.Config['ToolbarLocation'] = 'Out:xToolbar_desc';
		oFCKeditor.ReplaceTextarea();
	});
	</script>

	<form id="acp_users" method="post" action="{$U_ACTION}" enctype="multipart/form-data" >
	<fieldset>
	<legend>Содержание</legend>
		
		<dl>
			<dt><label for="name">Имя пользователя:</label></dt>
			<dd><input name="name" type="text" id="name" style="width: 200px" value="{$NAME}" /></dd>
		</dl>
		<dl>
			<dt><label for="password">Пароль:<br /><i>(если вы не хотите изменять пароль, оставьте поле пустым)</i></label></dt>
			<dd><input name="password" type="text" id="password" style="width: 200px" /></dd>
		</dl>
		<dl>
			<dt><label for="login">Логин:<br /><i>(используется для входа на сайт)</i></label></dt>
			<dd><input name="login" type="text" id="login" style="width: 200px" value="{$LOGIN}" /></dd>
		</dl>
		<dl>
			<dt><label for="mail">E-mail:</label></dt>
			<dd><input name="mail" type="text" id="mail" style="width: 200px" value="{$MAIL}" /></dd>
		</dl>

		<dl><dt><label for="role">Уровень доступа:</label></dt>
			<select name="role" id="role">
			<option value="0" {if ($ROLE == 0)}selected="selected"{/if} >Пользователь</option>
			<option value="4" {if ($ROLE == 4)}selected="selected"{/if} >Администратор</option>
		</select></dl>	
			
		<dl><dt><label>Группа пользователя:</label></dt>
			<select name="group">
			{section name=g loop=$groups}
			<option value="{$groups[g].id}" {if ($groups[g].id == $GROUP)}selected="selected"{/if} >{$groups[g].title}</option>
			{/section}
			</select></dl>	
			
		<dl><dt><label for="short">Краткое описание:</label></dt></dl>
		<dl>
			<div id="xToolbar_short"></div>
			<textarea name="short" id="short" style="width: 100%">{$SHORT_DESC}</textarea>
		</dl>
			<dl><dt><label for="desc">Описание:</label></dt></dl>
		<dl>
			<div id="xToolbar_desc"></div>
			<textarea name="desc" id="desc" style="width: 100%">{$DESC}</textarea>
		</dl>
		<dl>
			<dt><label for="contact_name">Контактное лицо:</label></dt>
			<dd><input name="contact_name" type="text" id="contact_name" style="width: 200px" value="{$CONTACT_NAME}" /></dd>
		</dl>
		<dl>
			<dt><label for="contact_phone">Контактный телефон:</label></dt>
			<dd><input name="contact_phone" type="text" id="contact_phone" style="width: 200px" value="{$CONTACT_PHONE}" /></dd>
		</dl>

	
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="Отправить" />
			&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="Сбросить" />
		</p>
		{$HIDDEN_FIELDS}
	</fieldset>
	</form>
{include file="page_footer.html"}