html, body {margin:0;padding:0;height:100%;width:100%;}

body { 
	background: #eee url("../images/back2.jpg") no-repeat bottom right; 
	color: #000; 
	font-size: 13px; 
	font-family: Arial, sans-serif; 
	padding: 0; 
	margin: 0; 
	height: 100%; 
	min-height:100%;
	position: relative; 
	min-width: 800px;
}
	
.login, .remember {
	left: 50%;
    margin-left: -170px;
    margin-top: -197px;
    position: absolute;
    top: 45%;
    width: 390px; 
    padding-bottom: 0;
}

.remember {
	top: -50%;
	opacity: 0;
}

.form-horizontal { margin-bottom: 0; }
.form-horizontal .help-block { margin-top: 3px; }

#copyright { position: absolute; bottom: 170px; right: 40px; width: 200px; height: 50px; color: #545454; font-size: 11px !important; line-height: 18px; text-align: right; }
